.Container{
  
  width: 100%;
  height: auto;
  background: url("../../assets/banner.jpg") ;

  background-size:cover;
display: flex;
flex-direction: column;


}
.ContactUsButton{
    margin: 40% 0 9.5% 5% ;
  width:max-content;
    padding: 0.8% 3.5%;
    font-size: 180%;
    color: white;
    background-image: linear-gradient(to right, #fcf6ba,#DF9F28,#935D17 100%);
    border-radius: 5px;
}
